<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Statify</a>
    <a href="https://spotifyapp-rmxc.onrender.com/profile/browse">
      Browse
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Keeping space for logo only -->
      </ul>
      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://spotifyapp-rmxc.onrender.com/profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm4-3a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM5.216 12.769C4.446 11.972 4 10.599 4 9.401A5.401 5.401 0 0 1 9.401 4C10.599 4 11.972 4.446 12.769 5.216C13.564 5.987 14 7.356 14 8.561C14 10.1 13.8 11.4 13.2 12.2C13 12.6 12.6 13 12.2 13.2C11.4 13.8 10.1 14 8.561 14C7.356 14 5.987 13.564 5.216 12.769z"/>
            </svg>
            Profile
          </a>
        </li>
        <!-- Check if user is logged in or not -->
          <li class="nav-item">
            <a class="nav-link" href="https://spotifyapp-rmxc.onrender.com/logout">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
